@media (max-width: 1550px) {
  .slider-1 .swiper-slide.block-card.dark { padding-bottom: 60px; }
  .block-card.dark .buttons {
    left: 24px;
    right: 24px;
  }
  .number > .t-5 { line-height: 21px; }
  .buttons-static { min-width: 140px; }
  .sidebar-menu a { 
    padding: 16px 28px;
    margin-left: -28px;
    margin-right: -28px;
  }
  .layout-sidebar .part.sidebar { width: 270px; }
  .sidebar-menu li { margin: 0 28px; }
  .table-3 td { padding: 15px 0; }
  .table-3 th { padding-bottom: 10px; }
  .layout-sidebar .part:not(.sidebar) { padding-left: 9px; }
  .block-border.shift-right .h4:not(.price) { padding-right: 60px; }
  .simple-block { padding: 15px 20px; }
  .design-el-11 {
    right: 0px;
    left: 0px;
  }
  .design-el-5 img { max-width: 550px; }
  body.with-menu-page .main > .layout-block > .part-center > .container > .block:first-child > .wrap { padding-top: 25px; }
  .design-el-9 {
    margin-top: 0;
    margin-bottom: -65px;
  }
  .design-el-5 { right: -100px; }
  .design-el-7 {
    width: 220px;
    right: -220px;
    bottom: 45px;
  }
  .block .part.shop-item-desc { padding: 0 9px; }
  .layout-block-icon > .part:first-child { width: 68px; }
  .shop-item { padding: 15px 0; }
  .button.text .p-3 { line-height: 16px; }
  .slider-1 .image img { height: 160px; }
  .map + .buttons {
    left: 40px;
    bottom: 40px;
  }
  .block-border.vertical-center > .part { min-height: 130px; }
  .block .layout-image > .image { width: 140px; }
  header.no-mask > .wrap > .part-center:before, body:not(.body-light) header.no-mask > .wrap > .part-center::before, header.no-mask > .wrap > .part-center > .bg.mpp, header.no-mask > .wrap > .part-center > .bg-opacity.mpp { height: 80px; }
  body.with-menu-page header.no-mask > .wrap > .part-center:before, body.with-menu-page:not(.body-light) header.no-mask > .wrap > .part-center::before, body.with-menu-page header.no-mask > .wrap > .part-center > .bg.mpp, body.with-menu-page header.no-mask > .wrap > .part-center > .bg-opacity.mpp, body.with-menu-page header.no-mask > .wrap > .part-center > .bg-opacity { height: 125px; }
  .link-mw { width: 78px; }
  .limitation-1 { max-width: 275px; }
  .limitation-2 { max-width: 320px; }

  h1, .h1 { font-size: 36px; }
  h2, .h2 { font-size: 37px; }
  h3, .h3 { font-size: 28px; }
  h4, .h4, .p-1 { font-size: 20px; }
  .t-5 { font-size: 16px; }
  h5, .h5, p { font-size: 15px; }
  .t-b { font-size: 14px; }
  .p-2, h6, .h6, form input, form textarea, form .textarea, body, .p-3 { font-size: 13px; }
  .t-1, .header-search input{ font-size: 12px; }
  .t-3 { font-size: 10px; }
  .t-4 { font-size: 9px; }
  .t-6 { font-size: 11px; }
  .percent { font-size: 40px; }
  .percent.large { font-size: 140px; }

  .layout-main > .part-left, .layout-main > .part-right {
    width: 90px;
    padding-top: 16px;
  }
  .layout-popup { padding: 0 120px; }
  .layout-main > .part-left { padding-right: 20px; }
  .block, .block.no-padding > .layout-block > .part {
    padding: 40px 32px;
    margin-top: -1px;
    margin-bottom: -1px;
  }
  .block:not(.el-pin):not(:last-child):not(.no-margin):not(.no-padding) { padding-bottom: 130px; }
  .block-card {
    padding: 20px;
    padding-bottom: 100px;
  }
  .block-card .buttons {
    left: 20px;
    bottom: 20px;
  }
  .block .layout-block + .layout-block { margin-top: 40px; }
  .design-el-2 { width: 120px; }
  .buttons.shifted { margin-top: 100px; }
  .design-el-gc {
    transform: scale(0.45);
    -o-transform: scale(0.45);
    -ms-transform: scale(0.45);
    -moz-transform: scale(0.45);
    -webkit-transform: scale(0.45);
  }
  .header-search-wrap.active, .header-search-wrap.active .header-search, .header-search input { width: 160px; }
  .design-el-1 {
    right: -200px;
    left: 50px;
    top: 60px;
  }
  .layout-block-2 .block-card {
    padding: 25px 30px;
    padding-bottom: 100px; 
  }
  .layout-block-2 .block-card .buttons {
    left: 30px;
    bottom: 30px;
  }
  .block-border.layout-block:not(.type-2):not(.layout-flex) > .part { padding: 20px 25px; }
  .block-border.layout-block:not(.type-2):not(.layout-flex) .design-el-3 {
    top: 20px;
    right: 25px;
    transform: none;
    -o-transform: none;
    -ms-transform: none;
    -moz-transform: none;
    -webkit-transform: none;
  }
  .rounded-top {
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
  }
  .inside.rounded-top {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
  }
  .rounded-bottom {
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
  }
  .rounded-top-right { border-top-right-radius: 25px; }
  .rounded-bottom-left { border-bottom-left-radius: 25px; }
  body:not(.body-light) header > .wrap > .part-center:before, header > .wrap > .part-center > .bg.mpp, header > .wrap > .part-center > .bg-opacity {
    height: 100px;
    -webkit-mask-box-image: url('../img/others/mask-a-1.png') 46 repeat;
    -webkit-mask-border: url('../img/others/mask-a-1.png') 46 repeat;
    mask-border: url('../img/others/mask-a-1.png') 46 repeat;
  }
  body.with-menu-page:not(.body-light) header > .wrap > .part-center:before, body.with-menu-page header > .wrap > .part-center > .bg.mpp, body.with-menu-page header > .wrap > .part-center > .bg-opacity { height: 155px; }
  .layout-header > .part-left, .layout-header > .part-right, .layout-header > .part-center { padding-top: 24px; }
  .design-el-3 {
    top: 20px;
    right: 20px;
  }
  .block-border:not(.vertical-center) > .part > .h4 {
    margin-right: 70px;
    max-width: 175px;
  }
  .block-border.vertical-center > .part { padding-right: 90px; }
  .slider-1 .swiper-slide .content { padding: 10px 15px; }
  .slider-1 .swiper-slide .date, .block-news .date {
    left: 15px;
    bottom: 10px;
  }
  .slider-1 .swiper-slide .tag-views, .block-news .tag-views {
    right: 15px;
    bottom: 10px;
  }
  .block-news { margin-top: 0; }
  .block-news .date { left: 20px; }
  .block-news .tag-views { right: 20px; }
  .block-news .content { padding: 10px 20px; }
  .slider-1 .swiper-slide {
    min-height: 160px;
    padding-bottom: 40px;
  }
  .slider-contols .button + .button.slider-prev { margin-left: 30px; }
  .popup .layout-close .layout-main { margin-top: 16px; }
  .main { padding-top: 75px; }
  .block .layout-block + .layout-block.small-shift, .block .layout-block + .layout-block.minimum-shift, .block .layout-block.small-shift + .layout-block.small-shift { margin-top: 20px; }
  .block .layout-block + .layout-block { margin-top: 25px; }
  .layout-footer.layout-block-2 > .part:last-child { padding-left: 41px; }
  .quote-block:after {
    left: -12px;
    top: -95px;
    width: 160px;
    height: 190px;
  }
  .slider-5 .slider-main .swiper-slide { height: 600px; }
  .layout-block + .layout-block.medium-shift { margin-top: 40px; }
}

@media (max-width: 1200px) {
  .block-cards.type-3 .block-card {
    padding: 20px 25px;
    padding-bottom: 220px;
  }
  .block-cards.type-3 .block-card .buttons {
    left: 25px;
    bottom: 25px;
  }
  .block-cards.type-3 .design-el-2 { right: 25px; }
  .number > .t-5 { line-height: 14px; }
  .design-el-6 {
    top: 30px;
    height: 30px;
  }
  .icon.small > .button.circle.small {
    width: 40px;
    height: 40px;
  }
  .design-el-8 { top: -80px; }
  .design-el-7 { bottom: 25px; }
  .shop-item > .part:not(.flex) { width: 125px; }
  .block .shop-item > .part.flex { padding-left: 10px; }
  .layout-block.page-text > .part:not(:nth-child(2)), .layout-block.page-image > .part:not(:nth-child(2)) { width: 80px; }
  .block .layout-image {
    display: block;
    width: 100%;
  }
  .block .layout-image > .part {
    display: block;
    width: 100%;
  }
  .block .layout-image > .part.image { width: 100px; }
  .layout-block-1 .part-3 { width: 390px; }
  .layout-block-1 .part-1 { width: 280px; }
  .block-percent.large .percent.large { margin-top: 20px; }
  .layout-block-5 > .part { width: 33.333%; }
  .block .block-cards.layout-block-5 > .part:nth-child(4) { padding-top: 18px; }
  .design-el-4 {
    padding-top: 60px;
    width: 195px;
  }
  .design-el-3 {
    position: static;
    width: 40px;
    margin-bottom: 20px;
  }
  .vertical-center .design-el-3 {
    top: 0;
    transform: none;
    -o-transform: none;
    -ms-transform: none;
    -moz-transform: none;
    -webkit-transform: none;
  }
  .block-border:not(.type-2):not(.layout-block-2) .h4 {
    padding-right: 0;
    margin-right: 0;
    max-width: 160px;
  }
  h1, .h1 { font-size: 30px; }
  .fix-enlarged { margin-right: -100%; }
  h2, .h2 { font-size: 32px; }
  .button-video { margin-top: 30px; }
  .button.circle.small {
    width: 32px;
    height: 32px;
  }
  .button.anim-text img, .button.anim-text svg { width: 20px; }
  .layout-submit { display: block; }
  .layout-submit > .part {
    display: block;
    width: 100%;
  }
  .layout-submit > .part + .part {
    margin-top: 15px;
    padding-left: 0;
    text-align: right;
  }
}

@media (min-width: 1025px) {
  .sidebar-menu li:not(.active) a:hover { background-color: rgba(22,169,55,0.025); }
  body.body-blue .sidebar-menu li:not(.active) a:hover { background-color: rgba(76,120,157,0.025); }
  body.body-blue-2 .sidebar-menu li:not(.active) a:hover { background-color: rgba(32,60,136,0.025); }
  .menu-page a[href]:hover { background-color: rgba(0,0,0,0.05); }
  .shop-items .shop-item .remove:hover {
    transform: scale(1.1);
    -o-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -webkit-transform: scale(1.1);
  }
  .image-viewer .image-thumbs .image:not(.active):hover { border-color: rgba(89,193,63,0.4); }
  body.body-blue .image-viewer .image-thumbs .image:not(.active):hover { border-color: rgba(76, 120, 157, 0.4); }
  body.body-blue-2 .image-viewer .image-thumbs .image:not(.active):hover { border-color: rgba(32, 60, 136, 0.4); }
  .hover-anim > .part {
    filter: url("data:image/svg+xml;utf8,&lt;svg xmlns=\'http://www.w3.org/2000/svg\'&gt;&lt;filter id=\'grayscale\'&gt;&lt;feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/&gt;&lt;/filter&gt;&lt;/svg&gt;#grayscale");
    filter: gray;
    -webkit-filter: grayscale(100%);

    transition: filter 0.35s;
    -o-transition: filter 0.35s;
    -ms-transition: filter 0.35s;
    -moz-transition: filter 0.35s;
    -webkit-transition: -webkit-filter 0.35s;
  }
  .hover-anim > .part:hover {
    filter: url("data:image/svg+xml;utf8,&lt;svg xmlns=\'http://www.w3.org/2000/svg\'&gt;&lt;filter id=\'grayscale\'&gt;&lt;feColorMatrix type=\'matrix\' values=\'1 0 0 0 0, 0 1 0 0 0, 0 0 1 0 0, 0 0 0 1 0\'/&gt;&lt;/filter&gt;&lt;/svg&gt;#grayscale");
    -webkit-filter: grayscale(0%);
  }
  .input-select:not(.active) .input:hover:after {
    transform: rotate(-20deg);
    -o-transform: rotate(-20deg);
    -ms-transform: rotate(-20deg);
    -moz-transform: rotate(-20deg);
    -webkit-transform: rotate(-20deg);
  }
  .h-green:hover { color: #59C13F; }
  .mpp-object .dot:not(.active):hover .button svg {
    transform: rotate(15deg);
    -o-transform: rotate(15deg);
    -ms-transform: rotate(15deg);
    -moz-transform: rotate(15deg);
    -webkit-transform: rotate(15deg);
  }
  a.block-card:hover .design-el-gc {
    transform: none;
    -o-transform: none;
    -ms-transform: none;
    -moz-transform: none;
    -webkit-transform: none;
  }
  a.block-card:not(.dark):hover { color: #fff; }
  a.block-card:hover .button.circle:after {
    background-color: #fff;
    opacity: 1;
  }
  .button.circle.from-opacity:hover:after, a:hover div.button.circle.from-opacity:after { opacity: 1; }
  .button.circle.white:hover svg .fill, a:hover div.button.circle.white svg .fill { fill: #59C13F; }
  body.body-blue .button.circle.white:hover svg .fill, body.body-blue a:hover div.button.circle.white svg .fill { fill: #4C789D; }
  body.body-blue-2 .button.circle.white:hover svg .fill, body.body-blue-2 a:hover div.button.circle.white svg .fill { fill: #203C88; }
  .button.hover-circle:hover, body.body-blue .button.hover-circle:hover, body.body-blue-2 .button.hover-circle:hover { color: #fff; }
  .button.green.hover-circle:hover { color: #5CBB47; }
  body.body-blue .button.green.hover-circle:hover { color: #4C789D; }
  body.body-blue-2 .button.green.hover-circle:hover { color: #203C88; }
  body.body-blue .button.simple.green:hover .arrow .fill { fill: #4C789D; }
  body.body-blue-2 .button.simple.green:hover .arrow .fill { fill: #203C88; }
  .button.simple.green:hover .arrow .fill { fill: #5CBB47; }
  .button.simple.white:hover .arrow .fill { fill: #FFFFFF; }
  .button.simple.white.outline:hover { color: #5CBB47; }
  body.body-blue .button.simple.white.outline:hover { color: #4C789D; }
  body.body-blue-2 .button.simple.white.outline:hover { color: #203C88; }
  .object-qa .q:not(.active):hover:before {
    transform: rotate(30deg);
    -o-transform: rotate(30deg);
    -ms-transform: rotate(30deg);
    -moz-transform: rotate(30deg);
    -webkit-transform: rotate(30deg);
  }
  .button.circle:not(.transparent):hover:after, .header-search a:hover, a:hover div.button.circle:after, .list-social li a:hover, .link-mw:hover, .button-video:hover .title:before {
    transform: scale(1.1);
    -o-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -webkit-transform: scale(1.1);
  }
  a:hover .obj-scaler img {
    transform: scale(1.05);
    -o-transform: scale(1.05);
    -ms-transform: scale(1.05);
    -moz-transform: scale(1.05);
    -webkit-transform: scale(1.05);
  }
  .media-tablet { display: none !important; }
  .button.animate:hover .h {
    transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    -moz-transform: scale(1);
    -webkit-transform: scale(1);
  }
  .button.anim-text:hover .text {
    margin-left: 0 !important;
    margin-right: 0 !important;
  }
  .anim-underline.animate:hover:before {
    width: 100%;
    visibility: visible;
  }
  .anim-underline.animate.right:hover:before { left: 0%; }
}

@media (max-width: 1024px) {
  .upload-area { margin-top: 10px; }
  .design-el-5 {
    left: 100px;
    right: -100px;
  }
  .design-el-6 {
    top: 34px;
    height: 22px;
  }
  .link-block { padding: 15px 9px; }
  .buttons-static { min-width: 0; }
  .layout-sidebar .part.sidebar { width: 235px; }
  .design-el-10 {
    right: -30px;
    bottom: -100px;
  }
  body.with-menu-page .main > .layout-block > .part-center > .container > .block:first-child > .wrap { padding-top: 0px; }
  .wrap-scroll .flex-blocks { min-width: 1050px; }
  body.with-menu-page header.no-mask > .wrap > .part-center:before, body:not(.body-light).with-menu-page header.no-mask > .wrap > .part-center:before, body.with-menu-page header.no-mask > .wrap > .part-center > .bg.mpp, body.with-menu-page header.no-mask > .wrap > .part-center > .bg-opacity.mpp, body.with-menu-page header.no-mask > .wrap > .part-center > .bg-opacity { height: 85px; }
  header.no-mask .logo-main svg, header.no-mask + .main-menu .logo-main svg { max-height: 52px; }
  .menu-page { display: none; }
  .block-border.layout-block.type-2 > .part { padding: 0; }
  .block-border.layout-block.type-2 > .part > div {
    margin: 0;
    padding: 25px;
  }
  .layout-block-2 .button-video {
    margin-right: 0;
    margin-bottom: 50px;
  }
  .layout-block-1 .part-1.media-mob-other {
    width: 210px;
    padding-right: 30px;
  }
  .wrap-scroll.minimum-shift { margin-top: 15px; }
  .popup .slider-gallery .slider-next, .popup  .slider-gallery .slider-prev { margin-top: -55px; }
  .popup .slider-gallery .slider-next { right: -40px; }
  .popup .slider-gallery .slider-prev { left: -40px; }
  .popup .slider-gallery { margin-bottom: -20px; }
  .popup .slider-gallery .slider-main .swiper-slide {
    height: 75vh;
    height: calc(100vh - 140px);
  }
  .main-cart .image {
    width: 50px;
    height: 50px;
  }
  .main-cart .image img { height: 50px; }
  .quote-block { padding-right: 0; }
  .number > .t-5 { line-height: 16px; }
  .layout-block-icon > .part:first-child { width: 60px; }
  .slider-gallery .slider-main .swiper-slide { height: 360px; }
  .slider-5 .slider-main .swiper-slide { height: 500px; }
  .slider-gallery .slider-thumbs .swiper-slide, .slider-5 .slider-thumbs .swiper-slide { height: 50px;   }
  .layout-block.page-text > .part:not(:nth-child(2)), .layout-block.page-image > .part:not(:nth-child(2)) { width: 60px; }
  .block .layout-block.page-image { min-height: 270px; }
  .input-select .box-calendar { width: 100%; }
  .button.text .p-3 { line-height: 18px; }
  .wrap-scroll {
    overflow-x: auto;
    margin-left: -30px;
    margin-right: -30px;
    padding-bottom: 15px;
  }
  .block-box .block { padding: 25px !important; }
  .block-box .block .wrap-scroll {
    margin-left: -39px;
    margin-right: -39px;
  }
  .wrap-scroll > .wrap > .layout-block {
    table-layout: auto;
    width: auto;
  }
  .image-link img {
    height: 200px;
    max-width: inherit;
  }
  .wrap-scroll > .wrap {
    padding-left: 30px;
    padding-right: 30px;
    display: inline-block;
    white-space: nowrap;
    width: auto;
    min-width: 100%;
  }
  .layout-block-3.flex:not(.skip-tablet):not(.block-border) > .part { width: 50%; }
  .mpp-object .dot .button { margin-top: -20px; }
  .mpp-object .dot .title {
    min-height: 50px;
    padding-left: 55px;
    white-space: normal;
    max-width: 220px;
  }
  .block-info .list-icon li .icon { width: 18px; }
  .block-info .list-icon li { padding-left: 24px; }
  .blocks-info, .block-info { width: 440px; }
  .block-info .content {
    padding: 30px 35px;
    padding-right: 40px;
  }
  .map + .buttons {
    left: 30px;
    bottom: 30px;
  }
  .el-tabs ul li div {
    padding: 11px 20px;
    padding-top: 11.5px;
    line-height: 1.35;
  }
  .button.anim-text .text {
    margin-left: 0 !important;
    margin-right: 0 !important;
  }
  .block-percent.large .percent.large { margin-top: 0; }
  .block-percent.large { margin-left: 0; }
  .flex-blocks { justify-content: space-around; }
  .wrap-tabs {
    overflow-x: auto;
    margin-left: -30px;
    margin-right: -30px;
    padding-left: 30px;
    padding-right: 30px;
  }
  .button .h { display: none; }
  .media-tablet-no { display: none !important; }
  .object-map .wrap-windows { height: 50vh; }
  .media-tablet-rounded-top {
    border-radius: 0;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
  }
  .link-mw { width: 72px; }
  .button.with-icon.green .p-2 { margin-bottom: -4px; }
  .layout-block + .swiper-container { margin-top: 30px; }
  .button.simple {
    padding: 7px 16px;
    padding-bottom: 8px;
  }
  .media-desk { display: none !important; }
  header .layout-main > .part-right {
    padding-right: 58px;
    width: 130px;
    position: relative;
    z-index: 3;
  }
  .button.circle {
    width: 40px;
    height: 40px;
    padding: 10px;
  }
  body:not(.body-light) header > .wrap > .part-center:before, header > .wrap > .part-center > .bg.mpp, header > .wrap > .part-center > .bg-opacity,
  body.with-menu-page:not(.body-light) header > .wrap > .part-center:before, body.with-menu-page header > .wrap > .part-center > .bg.mpp, body.with-menu-page header > .wrap > .part-center > .bg-opacity {
    right: -131px;
    left: -131px;
    height: 105px;
  }
  .layout-main > .part-left, .layout-main > .part-right { padding-top: 22px; }
  .popup .layout-close .layout-main { margin-top: 22px; }
  header .layout-main > .part-left {
    width: 130px;
    padding-top: 8px;
    position: relative;
    z-index: 5;
  }
  .header-search-wrap .header-search a {
    width: 20px;
    padding-top: 9px;
  }
  .main > .layout-main > .part-left, .main > .layout-main > .part-right,
  footer > .layout-main > .part-left, footer > .layout-main > .part-right {
    display: none;
  }
  .layout-popup { padding: 0 30px; }
  .popup .close { margin-right: -5px; }

  .block > .layout-block.layout-block-1:not(.skip-tablet),
  .block > .layout-block.layout-block-2:not(.skip-tablet) { display: block; }
  .block > .layout-block.layout-block-1:not(.skip-tablet) > .part,
  .block > .layout-block.layout-block-2:not(.skip-tablet) > .part {
    display: block;
    width: 100%;
  }
  .block > .layout-block.layout-block-1:not(.skip-tablet) > .part + .part,
  .block > .layout-block.layout-block-2:not(.skip-tablet) > .part + .part { margin-top: 30px; }
  .button.with-icon .part.icon {
    padding-right: 5px;
    width: 46px;
  }
  .button.simple.hover-circle.arrow {
    padding: 10px 22px;
    padding-top: 9px;
    padding-right: 36px;
  }
  .layout-block-1 .part-1 {
    width: 280px;
  }

  h1, .h1 { font-size: 25px; }
  h2, .h2 { font-size: 29px; }
  h3, .h3 { font-size: 25px; }
  h4, .h4, .p-1 { font-size: 18px; }
  .t-5 { font-size: 15px; }
  h5, .h5, p { font-size: 14px; }
  .t-b { font-size: 13px; }
  .p-2, h6, .h6, form input, form textarea, form .textarea, body, .p-3 { font-size: 12px; }
  .t-1, .header-search input, .el-tabs ul li div { font-size: 11px; }
  .t-3 { font-size: 9px; }
  .t-4 { font-size: 8px; }
  .t-6 { font-size: 10px; }

  .list-social li a img, .list-social li a svg { width: 25px; }
  .list-social li { padding: 0 3px; }
}

@media (min-width: 977px) {
  .skip-tablet-start .wrap-scroll { margin: 0; }
  .skip-tablet-start .wrap-scroll > .wrap { padding: 0; }
  .skip-tablet-start .wrap-scroll > .wrap > .layout-block { width: 100%; }
}
@media (max-width: 976px) {
  .layout-popup .content > .wrap > .layout-block > .part { flex-grow: 1; }
  .layout-popup .content > .wrap > .layout-block > .part:not(.full-width):first-child { width: 30%; }
  .skip-tablet-start, .skip-tablet-start > .part {
    display: block;
    width: 100%;
  }
  .skip-tablet-start, .skip-tablet-start > .part:not(:first-child) { margin-top: 30px; }
}

@media (max-width: 852px) {
  .layout-block-6 {
    display: flex;
    flex-flow: wrap;
  }
  .layout-block-6 > .part {
    width: 50%;
    display: block;
  }
  .layout-block-6 > .part:not(:nth-child(1)):not(:nth-child(2)) { margin-top: 30px; }
  .blocks-info, .block-info { width: 340px; }
  .blocks-info .close {
    top: 20px;
    right: 20px;
  }
  .slider-3 .slider-prev { left: 20px; }
  .slider-3 .slider-next { right: 20px; }
  .block-card br:not(.static) { display: none; }
  .layout-block-5 > .part { width: 50%; }
  .block .block-cards.layout-block-5 > .part:nth-child(3) { padding-top: 18px; }
}

@media (min-width: 768px) {
  .media-mob { display: none !important; }
}

@media (min-width: 600px) and (max-height: 500px) {
  .fix-enlarged { margin-right: -50%; }
  .design-el-5 {
    top: 20vh;
    right: -50px;
    left: 130px;
    bottom: auto;
  }
}

@media (max-width: 767px) {
  .block-cards.type-3 .block-card { padding-bottom: 200px; }
  .vacancy-data + .wrap .part { text-align: center; }
  .table-3 tr:first-child { display: none; }
  .table-3 tr:not(:first-child) {
    position: relative;
    display: block;
    width: 100%;
  }
  .table-3 tr:not(:first-child) td:first-child {
    padding-right: 50px !important;
    display: block;
  }
  .table-3 tr:not(:first-child) td:last-child {
    position: absolute;
    right: 0;
    top: 6px;
  }
  .table-3 .button.anim-text {
    height: 42px;
    padding-left: 0 !important;
    padding-right: 0 !important;
    width: 42px;
  }
  .table-3 .button.anim-text svg {
    right: 50%;
    top: 50%;
    margin-left: 8px;
    margin-top: -4px;
    width: 28px;
    height: 28px;
  }
  .table-3 .button.anim-text .text {
    display: none;
  }
  .sidebar-menu { white-space: nowrap; }
  .sidebar-menu li {
    display: inline-block;
    margin: 0;
    border: none;
  }
  .sidebar-menu li a {
    margin: 0;
    margin-top: -2px;
  }
  .main-menu .header-search > a { margin-top: -23px; }
  .design-el-6 {
    top: 30px;
    height: 40px;
  }
  .table-3 td, .table-3 tr, .table-3 tbody, .table-3 {
    display: block;
    padding: 0 !important;
  }
  .table-3 tr:nth-child(2) { border-top: none; }
  .table-3 .buttons { text-align: left; }
  .table-3 td { padding: 5px 0 !important; }
  .table-3 tr { padding: 10px 0 !important; }
  .media-part.media-mob { width: 120px; }
  .media-float-mob { float: left; }
  .table-3 td.media-float-mob { padding-right: 40px !important; }
  .table-3 th { display: none; }
  .table-3 p { font-size: 20px; }
  .table-3 p span.green { font-weight: 400; }
  .table-3 .t-1 {
    font-weight: 400;
    color: #D0D0D0;
  }
  .table-3 .t-4 {
    font-size: 12px;
    color: rgba(35,31,32,0.4);
  }
  .layout-sidebar, .layout-sidebar > .part {
    display: block;
    width: 100%;
  }
  .layout-sidebar .part.sidebar {
    width: 100%;
    margin-bottom: 20px;
  }
  .layout-sidebar { margin: 0; }
  .block > .layout-block.layout-block-3.flex:not(.skip-mobile) { display: flex; }
  .block > .layout-block.layout-block-3.flex:not(.skip-mobile) > .part:nth-child(3n+1) { order: 0; }
  .block > .layout-block.layout-block-3.flex:not(.skip-mobile) > .part:nth-child(3n+2) { order: 1; }
  .block > .layout-block.layout-block-3.flex:not(.skip-mobile) > .part:nth-child(3n+3) { order: 2; }
  .block-border:not(.type-2) .h4 { max-width: 100%; }
  .block-border:not(.simple-block) p { max-width: 100%; }
  .block-border:not(.type-2):not(.simple-block).shift-right p,
  .block-border:not(.type-2):not(.simple-block).shift-right .h4:not(.price) {
    padding-right: 60px;
    max-width: 100%;
  }
  .fix-enlarged-4 { margin-right: 0; }
  /*body.forced-header header:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    background: url(../img/bgs/1.jpg) no-repeat top center;
    height: 85px;
  }
  body.body-blue.forced-header header:before {
    background-image: url(../img/bgs/4.jpg);
  }*/
  footer .block.no-padding.white {
    background: #ffffff;
    background: -moz-linear-gradient(top,  rgba(22,169,55,1) 24%, rgba(255,255,255,1) 25%);
    background: -webkit-linear-gradient(top,  rgba(22,169,55,1) 24%,rgba(255,255,255,1) 25%);
    background: linear-gradient(to bottom,  rgba(22,169,55,1) 24%,rgba(255,255,255,1) 25%);
  }
  body.body-blue footer .block.no-padding.white {
    background: #ffffff;
    background: -moz-linear-gradient(top,  rgba(76,120,157,1) 24%, rgba(255,255,255,1) 25%);
    background: -webkit-linear-gradient(top,  rgba(76,120,157,1) 24%,rgba(255,255,255,1) 25%);
    background: linear-gradient(to bottom,  rgba(76,120,157,1) 24%,rgba(255,255,255,1) 25%);
  }
  body.body-blue-2 footer .block.no-padding.white {
    background: #ffffff;
    background: -moz-linear-gradient(top,  rgba(32,60,136,1) 24%, rgba(255,255,255,1) 25%);
    background: -webkit-linear-gradient(top,  rgba(32,60,136,1) 24%,rgba(255,255,255,1) 25%);
    background: linear-gradient(to bottom,  rgba(32,60,136,1) 24%,rgba(255,255,255,1) 25%);
  }
  .wrap-scroll .flex-blocks { min-width: 780px; }
  .shop-item .buttons > .part:first-child { padding-right: 0; }
  .shop-item .buttons > .part {
    padding-left: 0;
    padding-right: 0;
  }
  .shop-item .buttons > .part:last-child { padding-left: 0; }
  .image-link img {
    box-shadow: 0px 6px 5px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: 0px 6px 5px rgba(0, 0, 0, 0.05);
    -webkit-box-shadow: 0px 6px 5px rgba(0, 0, 0, 0.05);
  }
  .quote-block .h1 { font-size: 22px; }
  .slider-4 .layout-block { margin-top: 20px; }
  .design-el-8 {
    position: relative;
    margin: -100px auto;
    max-width: 300px;
    margin-top: 75px;
  }
  .design-el-8 .image .info-item { padding-right: 25px; }
  .design-el-8 .image .info-item .arrow { width: 18px; }
  .design-el-8 .image .info-item .p-2 {
    line-height: 10px;
    font-size: 10px;
  }
  .scroll-indicators:before, .scroll-indicators:after { display: block; }
  .block-1 .p-2 { max-width: 100%; }
  .fix-enlarged-3 { margin-right: 0; }
  .design-el-7 {
    right: -40vw;
    bottom: -80px;
  }
  .shop-items { padding-top: 15px; }
  .border-right { 
    border-right: none;
    border-bottom: 1px solid rgba(89, 193, 63, 0.15); 
  }
  body.body-blue .border-right { 
    border-right: none;
    border-bottom: 1px solid rgba(76, 120, 157, 0.15); 
  }
  body.body-blue-2 .border-right { 
    border-right: none;
    border-bottom: 1px solid rgba(32, 60, 136, 0.15); 
  }
  .part.flex-2 { flex: 1; }
  .image-viewer { display: block; }
  .image-viewer .image-thumbs {
    white-space: nowrap;
    width: 100%;
  }
  .image-viewer .image-thumbs .image {
    margin-top: 0;
    width: 70px;
    display: inline-block;
  }
  .image-viewer .image-thumbs .image:not(:first-child) {
    margin-top: 0;
    margin-left: 10px;
  }
  .buttons + .button-video {
    margin-top: 50px;
    margin-bottom: -10px;
  }
  p.image + p, p.image + div { margin-top: 40px; }
  .block .slider-4 .layout-block > .part {
    padding-left: 0;
    padding-right: 0;
  }
  .number > .t-5 { line-height: 26px; }
  .list-social li { width: 50px; }
  .table-wrap.rounded:before, .table-wrap.rounded:after {
    content: '';
    width: 15px;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    background: rgb(231,231,231);
    background: -moz-linear-gradient(-90deg, rgba(231,231,231,0.25) 0%, rgba(231,231,231,0) 100%);
    background: -webkit-linear-gradient(-90deg, rgba(231,231,231,0.25) 0%, rgba(231,231,231,0) 100%);
    background: linear-gradient(-90deg, rgba(231,231,231,0.25) 0%, rgba(231,231,231,0) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#e7e7e7",endColorstr="#e7e7e7",GradientType=1);
  }
  .table-wrap.rounded:before {
    left: 0;
    right: auto;
    background: rgb(231,231,231);
    background: -moz-linear-gradient(90deg, rgba(231,231,231,0.25) 0%, rgba(231,231,231,0) 100%);
    background: -webkit-linear-gradient(90deg, rgba(231,231,231,0.25) 0%, rgba(231,231,231,0) 100%);
    background: linear-gradient(90deg, rgba(231,231,231,0.25) 0%, rgba(231,231,231,0) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#e7e7e7",endColorstr="#e7e7e7",GradientType=1);
  }
  .page-image > .flex {
    padding-left: 20px !important;
    padding-right: 20px !important;
  }
  .slider-gallery .slider-main .swiper-slide, .slider-5 .slider-main .swiper-slide { height: 270px; }
  .block .layout-block.page-image {
    min-height: 180px;
    margin-left: -20px;
    width: auto;
    margin-right: -20px;
  }
  .list-social.title-first {
    display: block;
    width: 100%;
  }
  .list-social.title-first li:first-child {
    display: block;
    width: 100%;
    margin-bottom: 10px;
  }
  .shift-mobile > .part { text-align: center; }
  .shift-mobile > .part:not(:first-child) { margin-top: 20px; }
  .box-calendar .layout-block-3.flex:not(.skip-tablet):not(.block-border) > .part { width: 33.332%; }
  .input-select .input .value, .input-select, .input-select .input { width: 100%; }
  .layout-block.flex:not(.skip-mobile) > .part:not(.image) { width: 100%; }
  .button.text .p-3 { line-height: 25px; }
  .layout-block-1.flex .part-1 { min-height: 0; }
  .layout-block-1.flex .part-1 .buttons { margin-top: 20px; }
  .layout-block-1.flex .part-1 { width: 100% !important; }
  .layout-block.cell-adaptive > .row { display: block; }
  .layout-block.cell-adaptive > .row > .part {
    margin-bottom: 10px;
    display: block;
    max-width: 100% !important;
  }
  .dot .title { font-size: 10px; }
  .mpp-object .dot .title { max-width: 160px; }
  .slider-1 .image img { height: 180px; }
  .map + .buttons {
    left: 20px;
    bottom: 20px;
  }
  .layout-block + .buttons { padding: 0; }
  header .layout-main > .part-right { padding-right: 52px; }
  .block-border.vertical-center > .part { min-height: 160px; }
  .block-cards.type-2 .block-card {
    padding-bottom: 25px;
    min-height: 180px;
  }
  header .button.circle {
    width: 46px;
    margin-top: -2px;
    height: 46px;
  }
  .button-burger span {
    width: 20px;
    margin-left: -10px;
  }
  .block-border .h4 { max-width: 100%; }
  .layout-block-1 .part-3 {
    padding-top: 300px !important;
    width: 100%;
  }
  .percent { font-size: 50px; }
  .percent.large { font-size: 110px; }
  .layout-block.gray { padding: 25px 20px; }
  .flex-adaptive .flex {
    width: 100%;
    flex-basis: auto;
  }
  .flex-adaptive .part:not(:first-child) { margin-top: 25px; }
  .flex-adaptive .part > ul:first-child { margin-top: 0; }
  .block-404 p { font-size: 18px; }
  .wrap-tabs {
    margin-left: -25px;
    margin-right: -25px;
    padding-left: 25px;
    padding-right: 25px;
  }
  .wrap-video { max-height: 55vw; }
  .slider-contols { text-align: left; }
  .slider-contols a { margin-top: -30px; }
  .slider-next, .slider-prev { display: none; }
  .slider-contols {
    text-align: right;
    margin-top: 30px;
    margin-bottom: -10px;
  }
  .wrap:not(.skip-mobile) > .part > .slider-contols { margin-top: 40px; }
  .slider-contols .button:not(.slider-next):not(.slider-prev) { float: left; }
  .media-mob-no { display: none !important; }
  .block > .layout-block.layout-block-1 > .part.media-mob-no + .part, .block > .layout-block.layout-block-2 > .part.media-mob-no + .part { margin-top: 0px; }
  .slider-1 .swiper-slide { opacity: 1; }
  .block > .layout-block.layout-block-1:not(.skip-mobile),
  .wrap.layout-block-2:not(.skip-mobile),
  .block > .layout-block.layout-block-3:not(.skip-mobile),
  .block > .layout-block.layout-block-2:not(.skip-mobile) { display: block; }
  .block > .layout-block.layout-block-1:not(.skip-mobile) > .part,
  .wrap.layout-block-2:not(.skip-mobile) > .part,
  .block .layout-block.layout-block-3:not(.skip-mobile) > .part,
  .block > .layout-block.layout-block-2:not(.skip-mobile) > .part {
    display: block;
    width: 100%;
  }
  .block .swiper-container {
    margin-left: 0;
    margin-right: 0;
  }
  .block:not(.no-padding) > .layout-block:not(.flex-adaptive):not(.block-border):not(.layout-block-5) > .part,
  .block:not(.no-padding) .wrap.layout-block-2:not(.skip-mobile):not(.block-border) > .part,
  .block .layout-block.layout-block-3:not(.skip-mobile):not(.block-border) > .part {
    padding-left: 0;
    padding-right: 0;
  }
  .block-border .layout-inside .layout-block, .block-border .layout-inside .layout-block > .part {
    display: block;
    width: 100%;
    padding: 0 5px;
  }
  .layout-block-5 {
    width: auto;
    margin-left: -9px;
    margin-right: -9px;
  }
  .object-tabs .text-right { text-align: left; }
  .block > .layout-block.layout-block-1:not(.skip-mobile) > .part + .part,
  .wrap.layout-block-2:not(.skip-mobile) > .part + .part,
  .block > .layout-block.layout-block-2:not(.skip-mobile) > .part + .part { margin-top: 30px; }
  .block .layout-block.layout-block-3:not(.skip-mobile) > .part + .part, .block:not(.no-padding) > .layout-block-2 > .part + .part { margin-top: 20px; }
  .block .block-cards:not(.layout-block-5) > .part:not(:nth-child(1)):not(:nth-child(2)):not(:nth-child(3)) { padding-top: 0; }

  .block > .layout-block.layout-block-3.flex, .block:not(.no-padding) > .layout-block-2.flex {
    margin-left: -10px;
    margin-right: -10px;
    width: auto;
  }

  .block > .layout-block > .part > * > br:not(.static) { display: none; }
  .button.circle.small {
    width: 40px;
    height: 40px;
    padding: 7px;
  }
  .buttons.shifted { margin-top: 180px; }

  h1, .h1 { font-size: 28px; }
  h2, .h2 { font-size: 28px; }
  h3, .h3 { font-size: 28px; }
  h4, .h4, .p-1 { font-size: 20px; }
  .t-5 { font-size: 18px; }
  h5, .h5, p { font-size: 18px; }
  .t-b { font-size: 17px; }
  .p-2, h6, .h6, form input, form textarea, form .textarea, body { font-size: 16px; }
  .p-3 { font-size: 15px; }
  .t-1, .header-search input, .el-tabs ul li div { font-size: 14px; }
  .t-3 { font-size: 12px; }
  .t-4 { font-size: 11px; }
  .t-6 { font-size: 13px; }

  .list-social li a img, .list-social li a svg { width: 25px; }
  .list-social li { padding: 0 3px; }
  .layout-submit > .part + .part {
    text-align: left;
    margin-top: 24px;
  }
  .layout-submit { margin-top: 30px !important; }
  .fix-enlarged { margin-right: 0; }
  .skip-mobile .fix-enlarged { margin-right: -70%; }
  .button-video .title:before, .button-video .title:after { display: none; }
  .button-video .title { padding-left: 72px; }
  .layout-block-1 .part-1 { width: 300px !important; }
  .design-el-1 {
    left: 0;
    top: 30px;
  }
  .design-el-3 {
    position: absolute;
    right: 40px;
    top: 40px;
  }
  .vertical-center .design-el-3 {
    top: 50%;
    transform: translateY(-50%);
    -o-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
  }
  .block.dark .block-border.layout-block > .part:not(:nth-child(3n+1)),
  .block.dark .block-border.layout-block.layout-block-2.shift-right > .part:not(:nth-child(2n+1)) { border-left: none; }
  .block.dark .block-border.layout-block > .part:not(:nth-child(1)) { border-top: 1px solid rgba(196,196,196,0.15); }
  .block.dark .block-border { border-color: rgba(196,196,196,0.15); }
  .block-border.layout-block > .part {
    margin-top: 0 !important;
    padding: 35px 40px;
  }
  .block-border.vertical-center .h4 { padding-right: 65px; }
  .vertical-center .design-el-3 {
    top: 32px;
    transform: none;
    -o-transform: none;
    -ms-transform: none;
    -moz-transform: none;
    -webkit-transform: none;
  }
  .block-border { 
    margin-left: 0 !important;
    margin-right: 0 !important;
  }
  .block-border.flex-blocks img { width: 75px !important; }
  .flex-blocks.block-border .part { padding: 20px; }
  .block-border .part.full { border: none; }
  .block-border.layout-block > .part:not(:first-child) {
    border-left: none;
    border-top: 1px solid rgba(196,196,196,0.4);
  }
  .block-card .h4 { max-width: 220px; }
  .block-card {
    padding-bottom: 80px;
    min-height: 190px;
  }
  .block > .layout-block.layout-block-2.flex > .part + .part { margin-top: 15px; }
  .block > .layout-block.layout-block-2.flex.distance-vertical > .part + .part { margin-top: 0px; }
  .layout-footer {
    margin-left: 15px;
    margin-right: 15px;
    width: auto;
    display: block;
  }
  .layout-footer > .part {
    display: block;
    width: 100%;
  }
  .layout-footer > .part > .layout-flex { display: block; }
  .layout-footer > .part > .layout-flex > .part {
    display: block;
    width: 100%;
  }
  .layout-footer > .part > .layout-flex > .part:not(:first-child) { margin-top: 20px; }
  .list-social li a img, .list-social li a svg { width: 38px; }
  .list-social li { padding: 0 10px; }
  p.t-1.media-mob-no + p.t-1 { margin-top: 0; }
  .part-social {
    width: auto !important;
    border-top: 2px solid rgba(255,255,255,0.1);
    border-bottom: 2px solid rgba(255,255,255,0.1);
    padding: 14px 0;
    margin-left: -45px;
    margin-right: -45px;
    margin-bottom: 15px;
  }
  .layout-footer.layout-block-2 > .part:last-child { padding-left: 0; }
  .link-mw {
    margin-left: 5px;
    margin-top: 2.5px;
    vertical-align: top;
  }
}

@media (max-width: 628px) {
  .vacancy-info .layout-block, .vacancy-info .layout-block .part { display: block; }
  .layout-block-6 { display: block; }
  .layout-block-6 > .part { width: 100% !important; }
  .layout-block-6 > .part:not(:first-child) { margin-top: 20px; }
  .layout-block-5 > .part { width: 100%; }
  .block .block-cards.layout-block-5 > .part:nth-child(2) { padding-top: 18px; }
  .block > .layout-block.layout-block-1,
  .block .layout-block.layout-block-3:not(.skip-mobile),
  .block > .layout-block.layout-block-2:not(.skip-mobile) { display: block; }
  .block > .layout-block.layout-block-1 > .part,
  .block .layout-block.layout-block-3:not(.skip-mobile) > .part,
  .block > .layout-block.layout-block-2:not(.skip-mobile) > .part {
    display: block;
    width: 100%;
  }
  .block > .layout-block.layout-block-1 > .part + .part,
  .block > .layout-block.layout-block-2 > .part + .part { margin-top: 30px; }
  .block .layout-block.layout-block-3:not(.skip-mobile) > .part + .part, .block:not(.no-padding) > .layout-block-2 > .part + .part { margin-top: 20px; }
  .block > .layout-block.layout-block-1 > .part-1 { width: 320px; }
  .design-el-1 {
    position: static;
    margin-top: 30px;
    margin-right: -50vw;
  }
  .layout-block-5 .block-card .wrap {
    padding-left: 70px;
  }
  .card-icon {
    position: absolute;
    top: -5px;
    left: 0;
  }
}

@media (max-width: 580px) {
  .design-el-7 { display: none; }
  .table-2 > .row > .cell.flex { display: none; }
  .table-2 .row, .table-2 .cell {
    display: block;
    width: 100%;
  }
  .table-2 .row:not(:first-child) { margin-top: 20px; }
  .fix-enlarged-2 { margin: 0; }
  .shop-item {
    display: block;
    padding: 10px 15px;
  }
  .shop-item > .part:not(.flex) { margin: 0 auto; }
  .block .shop-item > .part.flex { padding-right: 0; }
  .slider-gallery .slider-main, .slider-gallery .slider-thumbs, .slider-5 .slider-main, .slider-5 .slider-thumbs {
    overflow: visible;
    -webkit-mask-image: none;
  }
  .slider-gallery .slider-next { right: 15px; }
  .slider-gallery .slider-prev { left: 15px; }
  .layout-table, .layout-table > .row, .layout-table > .row > .part {
    display: block;
  }
  .layout-table > .row.grey > .part {
    background-color: transparent;
    border-radius: 0;
  }
  .layout-table > .row {
    padding: 0 5px;
    padding-top: 5px;
  }
  .layout-table > .row.grey {
    background-color: #F4F4F4;
    border-radius: 15px;
  }
  .layout-table > .row > .part:first-child { padding-bottom: 0; }
  .layout-table > .row > .part:last-child { padding-top: 0; }
  .block .layout-image {
    display: block;
    width: 100%;
  }
  .block .layout-image > .part {
    display: block;
    width: 100%;
  }
  table td:not(:first-child), table th:not(:first-child) { padding-left: 10px; }
  .page-text table th, .page-text table td { padding: 10px 15px; }
  .block .layout-image > .part.image { width: 100px; }
  .block-percent.large { display: block; }
  .block-percent.large .part:not(:first-child) { margin-top: 25px; }
  .skip-mobile .fix-enlarged { margin-right: 0; }
  header .part-center > .wrap { display: none !important; }
  body:not(.body-light) header > .wrap > .part-center:before, header > .wrap > .part-center > .bg.mpp, header > .wrap > .part-center > .bg-opacity, body.with-menu-page:not(.body-light) header > .wrap > .part-center:before, body.with-menu-page header > .wrap > .part-center > .bg.mpp, body.with-menu-page header > .wrap > .part-center > .bg-opacity {
    left: -155px;
    right: -25px;
    height: 110px;
  }
}

@supports (-webkit-touch-callout: none) {
  .button-burger { background: #16A937 !important; }
  body.body-blue .button-burger { background: #4C789D !important; }
  body.body-blue-2 .button-burger { background: #203C88 !important; }
}

.media-mob-medium { display: none !important; }

@media (max-width: 580px), (max-height: 512px) {
  .blocks-info .close {
    top: 15px;
    right: 15px;
  }
  .slider-3 .slider-prev { left: 15px; }
  .slider-3 .slider-next { right: 15px; }
  .blocks-info, .block-info { width: 280px; }
  /*body:not(.body-light) header > .wrap > .part-center:before, header > .wrap > .part-center > .bg.mpp, header > .wrap > .part-center > .bg-opacity { display: none !important; }*/
  body:not(.forced-header) header {
    position: relative;
    overflow: hidden;
  }
  .main { padding-top: 0; }
  .button-burger {
    background: url(../img/bgs/1.jpg) no-repeat center top;
    background-attachment: fixed;
  }
  body.body-blue .button-burger { background-image: url('../img/bgs/4.jpg'); }
  body.body-blue-2 .button-burger { background-image: url('../img/bgs/5.jpg'); }
  body.body-light .button-burger span { background-color: #fff; }
  header .layout-main > .part-left { padding-top: 16px; }
  footer { padding-top: 15px; }
  .button-burger, body .button.button-comment { top: 23px; }
  .popup .layout-close .layout-main { margin-top: 28px; }
  .media-mob-medium { display: block !important; }
  .media-mob-medium-no { display: none !important; }
}

@media (max-height: 512px) {
  .mpp-object .dot .title { max-width: 180px; }
}

@media (min-width: 481px) {
  .media-mob-small { display: none !important; }
}

@media (max-width: 481px) {
  .block-cards.type-3 .design-el-gc { margin-bottom: -60px; }
  .main-menu .header-search > a { margin-top: -25px; }
  .table-simple:not(.static), .table-simple:not(.static) tbody {
    display: flex;
    flex: auto;
  }
  .table-simple:not(.static) tr {
    flex: 1;
    display: flex;
    flex-direction: column;
  }
  .table-simple:not(.static).first-title tr:first-child { flex: 0; }
  .table-simple:not(.static).first-title tr:not(:first-child) td, .table-simple:not(.static).first-title tr:not(:first-child) th { white-space: initial; }
  .table-simple:not(.static) tr:not(:first-child) td { padding-left: 20px; }
  .table-simple:not(.static) tr td, .table-simple:not(.static) tr th {
    display: block;
    width: 100%;
    padding: 5px 0;
  }
  .table-simple:not(.static):not(.no-border) tr td:first-child {
    border-bottom: 1px solid #E9E9E9 !important;
    padding-bottom: 10px;
    margin-bottom: 10px;
  }
  .table-simple:not(.static) p, .table-simple:not(.static) div { line-height: 30px; }
  .table-simple:not(.no-border):not(.static) tr:not(:first-child) td { border: none; }
  .shop-item-desc .buttons { width: auto; }
  .shop-item-desc .buttons > .part:first-child { padding-right: 0; }
  .shop-item-desc .buttons > .part {
    padding-left: 0;
    padding-right: 0;
  }
  .shop-item-desc .buttons > .part:last-child {
    padding-left: 0;
    margin-right: -9px;
  }
  .layout-block-1 .part-1 { width: 100% !important; }
  .main-cart { padding: 0; }
  .slider-6 .shop-item > .part.flex .buttons { margin-bottom: -5px; }
  
  nav .button.circle.small {
    width: 30px;
    height: 30px;
    margin-top: 5px;
    margin-left: 0;
    margin-right: 0;
  }
  nav .button.circle.small .p-3 { line-height: 19px; }
  .blocks-info, .block-info { width: 100vw; }
  .blocks-info { z-index: 115; }
  .blocks-info .close {
    top: 28px;
    right: 25px;
  }
  .slider-3 .slider-prev { left: 25px; }
  .slider-3 .slider-next { right: 25px; }
  .block form .layout-block.small-shift + .layout-block.small-shift { margin-top: 10px; }
  .popup .close { margin-right: 0; }
  .media-mob-small-no { display: none !important; }
  .layout-menu {
    padding: 30px 30px;
    padding-top: 24px;
  }
  .main-menu .wrap-menu { width: 100%; }
  .wrap-video { padding: 0 25px; }
  .layout-popup { padding: 0; }
  footer {
    padding: 20px 0;
    margin-top: -20px;
  }
  .media-rounded-top-no {
    border-top-left-radius: 0 !important;
    border-top-right-radius: 0 !important;
  }
  .media-rounded-bottom-no {
    border-bottom-left-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
  }
  .container > .layout-footer:first-child { margin-top: 30px; }
  header { padding: 0 25px; }
  .main { padding: 0; }
  .block-border { margin: 0; }
  .block, .block.no-padding > .layout-block > .part { padding: 40px 25px; }
  .layout-block.layout-block-4,
  .a .layout-block.layout-block-2,
  .table-percentages .layout-block { display: block; }
  .layout-block.layout-block-4 > .part,
  .a .layout-block.layout-block-2 > .part,
  .table-percentages .layout-block > .part {
    display: block;
    width: 100%;
  }
  .a .layout-block.layout-block-2 > .part + .part,
  .table-percentages .layout-block > .part + .part { margin-top: 20px; }
  .part-social {
    margin-left: -15px;
    margin-right: -15px;
  }
  .layout-block.layout-block-4 > .part + .part,
  .block .layout-block.layout-block-4 + .layout-block { margin-top: 15px; }
}

@media (max-width: 376px) {
  .design-el-8 .image .info-item .p-2 {
    font-size: 2.9vw;
    line-height: 3.2vw;
  }
  .slider-gallery .slider-main .swiper-slide, .slider-5 .slider-main .swiper-slide { height: 220px; }
  .input-select .box.box-calendar {
    padding: 6px;
    right: -15px;
    left: -15px;
    width: auto;
  }
  .box-calendar .wrap { margin-top: 6px; }
  .layout-image table, .layout-image table tr, .layout-image table td, .layout-image table tbody {
    display: block;
    padding: 0;
  }
  .layout-image table tr:not(:first-child) td:first-child { padding-top: 10px; }
}

@media (max-width: 358px) {
  .table-3 p { font-size: 18px; }
  .table-3 .t-4 { font-size: 11px; }
  .table-3 .t-1 { font-size: 12px; }
  .table-3 td.media-float-mob { padding-right: 20px; }
  .list-icon h4, .list-icon .h4 { font-size: 18px; }
  .shop-item .buttons .button {
    height: 50px;
    padding-left: 0 !important;
    padding-right: 0 !important;
    width: 50px;
  }
  .shop-item .buttons .button .arrow {
    right: 50%;
    margin-right: -12px;
    top: 50%;
    margin-top: 2px;
    width: 24px;
    height: 24px;
  }
  .shop-item .buttons .button b {
    display: none;
  }
  .slider-next, .slider-prev { display: none; }
  .block-border.vertical-center > .part { min-height: 140px; }
  .part.image.media-tablet { margin-top: 20px; }
  footer .layout-block-2.media-mob, .layout-block-2.media-mob .part {
    display: block;
    width: 100%;
  }
  footer .layout-block-2.media-mob .part { text-align: center; }
  footer .layout-block-2.media-mob .part.text-right {
    text-align: center;
    margin-top: 20px;
  }
  .block-border.layout-block > .part { padding: 20px; }
  .design-el-3 {
    top: 20px;
    right: 20px;
  }
  .p-1.mob-small { 
    font-size: 16px;
    line-height: 1.62;
  }
  .popup .p-2 { font-size: 14px; }
  .popup h3, .popup .h3 { font-size: 24px; }
}